<div class="row m-0">
  <div class="container col-md-3">
    <div class="pt-3">
      <%= form_with model: @post do |form| %>

        <%= render partial: "shared/flash" %>

        <div class="mb-3">
          <%= form.label :email, "E-mail" %>
          <%= form.email_field :email, class: "form-control", placeholder: "Név", :required => true %>
        </div>

        <!--
        <div class="mb-3">
          <%= form.label :password, "Új jelszó" %>
          <%= form.password_field :password, class: "form-control"%>
        </div>
        <div class="mb-3">
          <%= form.label :password_confirmation , "Új jelszó jelszó megerősítése"%>
          <%= form.password_field :password_confirmation, class: "form-control"%>
        </div>-->

        <div class="mb-3">
          <%= form.submit "Kérem a jelszavam!", class: "btn btn-primary" %>
          <%= link_to "Vissza", login_path, :class => "btn btn-link" %>
        </div>

      <% end %>
    </div>
  </div>
</div>