<div class="row m-0">
  <div class="container col-md-3 pt-5">
    <%= form_with url: login_path do |form| %>

      <h1 class="h3 mb-3 font-weight-normal">Kérlek jelentkezz be</h1>

      <%= render partial: "shared/flash" %>

      <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "E-mail cím" %>
      </div>
      <div class="mb-3">
        <%= form.label :password, "Jelszó" %>
        <%= form.password_field :password, class: "form-control", placeholder: "Jelszó" %>
      </div>

      <div class="mb-3">Még nincs felhasználód? <%= link_to "Regisztrálj itt!", register_path %></div>
      <div class="mb-3">Elfelejtetted a jelszavad? <%= link_to "Kérj újat itt!", lost_password_path %></div>

      <div class="mb-3">
        <%= form.submit "Bejelentkezés", class: "btn btn-primary" %>
        <%= link_to "Vissza", root_path, :class => "btn btn-link" %>
      </div>

    <% end %>

  </div>
</div>