<main role="main">
  <div class="container">
    <div class="m-4">

      <%= image_tag(@post.image, style: "width: 50%", class: "mb-3") %>

      <table class="table table-striped">
        <tbody>
        <tr>
          <th scope="row">Kedvenc gazdája:</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row">Kedvenc neve:</th>
          <td><%= @post.petname %></td>
        </tr>
        <tr>
          <th scope="row">Kedvenc kora:</th>
          <td><%= @post.age %></td>
        </tr>
        <tr>
          <th scope="row">Fajtája:</th>
          <td><%= @post.species %></td>
        </tr>
        <tr>
          <th scope="row">Leírás:</th>
          <td><%= @post.description %></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</main>
